pytest==6.2.4
pep8==1.7.1

# async stuff
aiomisc==14.3.2
aiohttp==3.7.4
aiopath==0.5.11
aiofile==3.6.0
aioshutil==1.1

# db
Faker==8.12.0
psycopg2==2.9.1
SQLAlchemy==1.4.23
alembic==1.6.5

# NOSQL
pymongo==3.12.0
# redispy==3.0.0
redis==3.5.3
celery==5.1.2
