<!doctype html>
<html lang="en">
<head>
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
  />
</head>
<title>{% block title %}{% endblock %} - Personal APP</title>
<link rel="stylesheet" href="{{ nested_url_for('static', filename='style.css') }}">
<!--https://developer.mozilla.org/ru/docs/Web/CSS-->
<nav>
  <h1>Personal TODO</h1>
  <ul>
    {% if current_user %}
    <li><span>{{ current_user.user_name }}</span>
    <li><a href="{{ nested_url_for('auth.logout') }}">Log Out</a>
      {% else %}
    <li><a href="{{ nested_url_for('auth.register') }}">Register</a>
    <li><a href="{{ nested_url_for('auth.login') }}">Log In</a>
      {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    {% if message%}
    <div class="flash">{{ message }}</div>
    {% endif %}
  {% endfor %}
  {% block content %}{% endblock %}
</section>